:root{
    --primary-color: #2563eb;
    --background: #f8fafc;
    --card: #ffffff;
    --primary-text: #1e293b;
    --secondary-text: #64748b;
    --borders: #e2e8f0;
    --alert: #f59e0b;
    --succes: #10b981;
    --danger: #ef4444;

    --space-xs: 8px;
    --space-sm: 12px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-xx: 48px;

}