@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

@import "base/reset.css";
@import "base/variables.css";

*{
    font-family: "Inter", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;

    background-color: var(--color-bg);
}
header{
    flex: 1;


}
header .logo{
    color: var(--color-primary);

    font-size: 6em;

    margin-top: var(--space-xx);

}


main{
    flex: 2;
    
    width: 90%;
}

.login-card{
    background-color: var(--color-card-primary); 
    border: 1px solid var(--borders);
    border-radius: var(--space-sm);
    box-shadow: var(--shadow-card);

    max-width: 400px;

    margin: auto;
}

.login-form{
    display: flex;
    flex-direction: column;

    padding: var(--space-sm);
}

.input-field{
    display: flex;
    align-items: center;
    
    gap: var(--space-xs);
}
.input-field label{
    flex: 1;
    
    text-align: center;
    color: var(--text-secondary);

    margin-bottom: var(--space-xs);
}
.input-field input{
    flex: 2;
    margin-bottom: var(--space-xs);

    border: 1px solid var(--borders);
    border-radius: var(--space-xs);

    padding: 4px var(--space-xs);

    color: var(--text-primary);
}
.input-field input:focus{
    outline: 2px solid var(--color-primary);
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--color-bg);

    border: 1px solid var(--borders);
    border-radius: var(--space-sm);

    width: 50%;

    margin: var(--space-xs) auto;
    padding: var(--space-xs);
}
.btn-link{
    background: none;
    border: none;

    padding: var(--space-xs);
    margin: auto;
}
.btn-link:hover{
    color: var(--color-primary);

    text-decoration: underline;
}



/* GLOBALS  */

button, label{
    cursor: pointer;
}